/* Add these styles to your existing CSS */

.password-container {
    position: relative;
    width: 100%;
  }
  
  .password-container input {
    width: calc(100% - 40px); /* Adjust width to fit the icon */
  }
  
  .password-container i {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 15px;
    color: #272525;
  }
  
  .password-container i:hover {
    color: #798a9c;
  }
  


  /* Style for the logout button */
.logout-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.logout-container button {
  display: flex;
  align-items: center;
  padding: 7px 30px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: #f9004d;
  cursor: pointer;
}

.logout-container button:hover {
  border: 1px solid #f44336;
  background: #ece7e600;
  transition: 0.5s;
  color: #000;
}